{% load static %}
<!DOCTYPE html>
<html>
   <head>
      <meta charset=utf-8>
      <meta name=viewport content="width=device-width,initial-scale=1">
      <title>Newspaper Website</title>
      <link href="{% static 'Newspaper/css/app.css' %}" rel=stylesheet>
   </head>
   <body>
      <div id="app"></div>
      <script type=text/javascript src="{% static 'Newspaper/js/manifest.js' %}"></script>
      <script type=text/javascript src="{% static 'Newspaper/js/vendor.js' %}"></script>
      <script type=text/javascript src="{% static 'Newspaper/js/app.js' %}"></script>
   </body>
</html>
